body {
    padding-top: 30px;
}

.btn-default .badge {
  background-color: #777;
}

footer {
    margin: 50px 0;
}

a:hover
a:focus
a:activate {
  text-decoration: none;
}

.link {
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  background-image: -webkit-linear-gradient(90deg, #337AB7, #337AB7);
  background-image: -moz-linear-gradient(0deg,#337AB7, #337AB7);
  background-image: -o-linear-gradient(0deg,#337AB7, #337AB7);
  background-image: -ms-linear-gradient(0deg,#337AB7, #337AB7);
  background-image: linear-gradient(0deg,#337AB7, #337AB7);

  background-size:  0% 1.5em;
  background-position: center bottom;
  background-repeat: no-repeat;

  color: -webkit-linear-gradient(90deg, #337AB7, #337AB7);
  color: -moz-linear-gradient(90deg,#337AB7, #337AB7);
  color: -o-linear-gradient(90deg,#337AB7, #337AB7);
  color: -ms-linear-gradient(90deg,#337AB7, #337AB7);
  color: linear-gradient(90deg,#337AB7, #337AB7);

  padding-left: 0.3em;
  padding-right: 0.3em;

  -webkit-transition: background-size 0.3s, color 0.5s;
  -moz-transition: background-size 0.3s, color 0.5s;
  -o-transition: background-size 0.3s, color 0.5s;
  -ms-transition: background-size 0.3s, color 0.5s;
  transition: background-size 0.3s, color 0.5s;
}

.link:hover {
  padding-left: 0.3em;
  padding-right: 0.3em;
  background-size: 100% 1.5em;
  color: white;
  text-decoration: none;
}

.well,
.panel-default {
  box-shadow: 1px 1px 2px #787878;
}

button.loadAjax {
  margin: 0 auto 5% auto;
  width: 100%;
}

.panel-title {
  font-size: 1.5em;
  font-weight: 900;
}

ul.nav:nth-child(3) > li:nth-child(1) > a:nth-child(1) {
  padding-top: 9px;
  padding-bottom: 9px;
}
